$drx-font-family-raleway: "Raleway", sans-serif;
$drx-font-family-quicksand: "Quicksand", sans-serif;
$drx-font-family-gothic: "Science Gothic", sans-serif;

$drx-font-sizes: (
  'caption': 10px,
  'label': 12px,
  'body-sm': 14px,
  'body': 16px,
  'body-lg': 18px,
  'subtitle': 20px,
  'title-sm': 24px,
  'title': 32px,
  'heading-sm': 40px,
  'heading': 50px,
  'display': 60px,
);

$drx-font-weights: (
  'light': 200,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);
