.drx-divider {
  width: 100%;
  margin: var(--drx-divider-margin-y, var(--drx-space-8)) 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: var(--drx-divider-border-width, 1px) solid var(--drx-divider-color);
}

.divider {
  @extend .drx-divider;
}
